<div class="elementTable" data-section-id="{{ section.id }}" data-section-type="video-section">
    <h1>{{ section.settings.header }}</h1>

    {% for block in section.blocks %}
        {% assign product_item = all_products[block.settings.product] %}
        {{ product_item.title }}
    {% endfor %}
</div>

{% schema %}
{
    "name": {
        "en": "Element Table"
    },
    "presets": [
        {
            "name": "Element Table",
            "category": "Element Table"
        }
    ],
    "max_blocks": 20,
    "blocks": [
        {
          "type": "clear-skin",
          "name": "Clear skin",
          "settings": [
            {
              "type": "product",
              "id": "product",
              "label": "Product"
            }
          ]
        },
        {
            "type": "other-catergory",
            "name": "Other Category",
            "settings": [
              {
                "type": "product",
                "id": "product",
                "label": "Product"
              }
            ]
        }
    ],
    "settings": [
        {
          "type": "text",
          "id": "header",
          "label": "Header"
        }
    ]
}
{% endschema %}
