<div class="elementTable" data-section-id="{{ section.id }}" data-section-type="video-section">
    <h1>{{ section.settings.header }}</h1>

    {% for block in section.blocks %}
        hello
        {%- assign collection = collections[section.settings.element_collection] -%}
        {{ collection }}
        {% for product in collection.products limit: 3 %}
            {{ product.price }}
        {% endfor %}
    {% endfor %}
    
</div>

{% schema %}
{
    "name": {
        "en": "Element Table"
    },
    "presets": [
        {
            "name": "Element Table",
            "category": "Element Table"
        }
    ],
    "max_blocks": 16,
    "blocks": [
        {
          "type": "element",
          "name": "Element",
          "settings": [
            {
                "type": "collection",
                "id": "element_collection",
                "label": "Element/Ingredient Collection"
            },
            {
              "type": "text",
              "id": "element_initials",
              "label": "Element/Ingredient Initials"
            },
            {
                "type": "text",
                "id": "element_name",
                "label": "Element/Ingredient Name"
            },
            {
                "type": "textarea",
                "id": "element_description",
                "label": "Element/Ingredient Description"
            }
          ]
        }
    ],
    "settings": [
        {
          "type": "text",
          "id": "header",
          "label": "Header"
        }
    ]
}
{% endschema %}