<div class="elementTable" data-section-id="{{ section.id }}" data-section-type="video-section">
    <h1>{{ section.settings.header }}</h1>

    {{ section.settings.page2 }}
</div>

{% schema %}
{
    "name": {
        "en": "Element Table"
    },
    "presets": [
        {
            "name": "Element Table",
            "category": "Element Table"
        }
    ],
    "settings": [
        {
          "type": "text",
          "id": "header",
          "label": "Header"
        },
        {
            "type": "page",
            "id": "page2",
            "label": "Page"
          }
    ]
}
{% endschema %}
